[led tira_led] # Tiras led iluminacion de la cama
#red_pin:
#green_pin:
#blue_pin:
white_pin: PA3  # Segundo hotend, HE1, se usa para tira leds iluminación de los laterales de la cama
#   The pin controlling the given LED color. At least one of the above
#   parameters must be provided.
cycle_time: 0.010
#   The amount of time (in seconds) per PWM cycle. It is recommended
#   this be 10 milliseconds or greater when using software based PWM.
#   The default is 0.010 seconds.
#hardware_pwm: False
#   Enable this to use hardware PWM instead of software PWM. When
#   using hardware PWM the actual cycle time is constrained by the
#   implementation and may be significantly different than the
#   requested cycle_time. The default is False.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 0.0
initial_WHITE: 0.6
#   Sets the initial LED color. Each value should be between 0.0 and
#   1.0. The default for each color is 0.



[neopixel phoenix_led] # Las dos tiras inteligentes de 8 leds cada una conectadas a ambos lados de la columna
pin: PB0
chain_count: 8
color_order: GRB
initial_RED: 0.5
initial_GREEN: 0.1
initial_BLUE: 0.0
# Inicio con el led en color naranja

# initial_RED: 0.4
# initial_GREEN: 0.4
# initial_BLUE: 0.4

# initial_RED: 0.0
# initial_GREEN: 0.2
# initial_BLUE: 0.1

# Una forma de controlarlos es con ordenes directas como estas en que cada una enciende al maximo los leds de ese color
# SET_LED LED=phoenix_led RED=1.0 GREEN=0.0 BLUE=0.0
# SET_LED LED=phoenix_led RED=0.0 GREEN=1.0 BLUE=0.0
# SET_LED LED=phoenix_led RED=0.0 GREEN=0.0 BLUE=1.0
# SET_LED LED=phoenix_led RED=0.0 GREEN=0.2 BLUE=0.1  # Cyan bajo brillo


#  ====== Corriente de salida en una tarjeta BTT Octopus ======

# la maxima salida de corriente del conector Neopixel es de 3 Amperios, esta corriente viene limitada por los datos nominales del conector JST XH;
# La tarjeta Octopus, es capaz de suministrar hasta 8 Amperios totales, en su rail de 5 voltios, pero son compartidos con otros consumidores;
# Si usas leds RGB la máxima corriente por pixel es de ~60mA, un RGBW neopixel consume ~80mA, para los calculos, asume una corriente de 100 mA por pixel;
# Si la corriente total es mayor de 2 Amperios, usa una alimentación externa a la placa, usando la señal de salida neopixel de la misma placa como control;
# Es recomendable una resistencia de ~100 Ohmios, entre la salida Neopixel de la placa, y la entrada Data-in del primer, o primeros, Neopixel.
