########################################################################################

# Power pins definition for BTT Octopus V1.1

# Marlin scripts:

# //
# // Power Supply Control Pin
# //
#ifndef PS_ON_PIN
  #define PS_ON_PIN                         PE11  // PS-ON
#endif

# //
# // Power Loss Detection Pin
# //
#ifndef POWER_LOSS_PIN
  #define POWER_LOSS_PIN                    PC0   // PWRDET
#endif

########################################################################################

# To be implemented in Klipper:

# Octopus Pin PC0  // POWER_LOSS_PIN
[gcode_button POWER_LOSS_PIN] # Pin al que está conectado el UPS de BTT, y que recibe una señal en caso de perdida de tensión de alimentación
pin: PC0
press_gcode:
  M118 Atención, caida de tension de alimentacion!
  M117 Atención, caida de tension de alimentacion!
  beep
  beep
  beep
#   A list of G-Code commands to execute when the button is pressed.
#   G-Code templates are supported. This parameter must be provided.
release_gcode:
  M118 La tension de alimentacion ha vuelto y es correcta!
  M117 La tension de alimentacion ha vuelto y es correcta!
  beep
  beep
#   A list of G-Code commands to execute when the button is released.
#   G-Code templates are supported. The default is to not run any
#   commands on a button release.


# Octopus Pin PE11  // PS-ON
[output_pin PS_OFF_PIN] # Pin al que está conectado el relé que desconecta la fuente de alimentación
pin: PE11

# power on
[gcode_macro M80]
description: Actua sobre la fuente de alimentación conectandola si está apagada, de dudoso uso
gcode: SET_PIN PIN=PS_OFF_PIN VALUE=0
  beep
  M118 Hola, he vuelto a la vida!
  M118 Hola, he vuelto a la vida!
  _led_atencion
  #led_blanco

# power off
[gcode_macro M81]
description: Actua sobre la fuente de alimentación desconectandola, si la extrusora está fria, o enfriandola primero si es necesario
gcode: 
  M118 Procediendo a desconectar la alimentación!
  M117 Procediendo a desconectar la alimentación!
  TURN_OFF_HEATERS    # Apaga todas las fuentes de calor
  M84 X Y Z E   # Apaga todos los motores
  M107          # Apaga los ventiladores
  _led_timeout
  beep
  beep
  TEMPERATURE_WAIT sensor=extruder maximum=50 # No apaga hasta que haya menos de 50 grados en la boquilla
  #beep
  #beep
  M118 Hasta pronto!
  M117 Hasta pronto!
  led_apagar # Apaga todas las luces
  M400 # Pausa hasta que todas las acciones pendientes se completan
  G4 S3 # Espera tres segundos a que el pito haya dejado de sonar
  SET_PIN PIN=PS_OFF_PIN VALUE=1 # Ordena al sistema externo cortar la alimentación
  SHUTDOWN # Ojo, apaga el ordenador, aprovechando que aunque hayamos ordenado cortar corriente, nos queda un remanente en los condensadores para ejecutar esta orden

# ########################################################################################

# # Notes on power disconection:
  # No usado
  # G4 P1000 # Temporizador, si aun queda tensión, para resetear el estado del pin, no usado
  # SET_PIN PIN=PS_OFF_PIN VALUE=0 ; conecta alimentación
  # TEMPERATURE_WAIT sensor=heater_extruder maximum=50
  # SET_PIN PIN=PS_ON_OFF VALUE=1 ; shut down the printer's power

# ########################################################################################

# M109 - Wait for Hotend Temperature
# Thermal  Wait for the hot end to reach its target.
# Description:
# This command optionally sets a new target hot end temperature and waits for the target temperature to be reached before proceeding.
# If the temperature is set with S then M109 waits only when heating.
# If the temperature is set with R then M109 will also wait for the temperature to go down.

# M109 R50

# ########################################################################################

