######################################################################
# Centrado de la cabeza extrusora
######################################################################

[gcode_macro HORIZONTAL]
description: Ajusta el eje X para que quede horizontal
gcode:
      M118 ***********************************************************
      M118 Inicio del proceso de ajuste de la horizontalidad del eje X
      M118 ***********************************************************
      M117 Inicio del proceso de ajuste de la horizontalidad del eje X

      _CENTRADO_BAJO

      # Nivelación automatica de la cama, si la vas a usar has de elegir una de las dos opciones
      M118 Creando malla de nivelacion
      M117 Creando malla de nivelacion
      BED_MESH_CALIBRATE # Crea una nueva malla a cada impresión
      M118 Malla creada
      M117 Malla creada

      # Ejecuta el ajuste z tilt, para que el travesaño Z esté paralelo a la cama
      M118 Ajustando simetria en motores eje Z
      M117 Ajustando simetria en motores eje Z
      _LED_ROJO
      _LED_ABAJO
      Z_TILT_ADJUST
      M118 Simetria ajustada
      M117 Simetria ajustada

      _led_atencion

      CENTRADO
