
####################################################################################################
#       Macros para comprobación de presencia de filamento, justo antes de imprimir
#####################################################################################################
# 
#   Macro CHECK_FILAMENT
# 
#   Aunque parezca mentira, con Klipper puedes empezar a imprimir si no has puesto filamento
#   no va a generar ningun error, empezara a imprimir e imprimira en el aire, sin filamento
#   solamente si se genera un evento de presencia o de falta de filamento, se incia, 
#   en caso de que las macros asi lo ordenen, el proceso de cambio de filamento.
#   No es algo habitual, pero si es algo que puede pasar y que esta macro lo evita, es una comprobacion, 
#   que en mis maquinas, se ejecuta justo tras imprimir las lineas de purga, ya que antes considera que no est� imprimiendo 
#   y el comando PAUSA no funciona adecuadamente,
#   se empieza por comprobar si hay presencia de filamento, si por ejemplo, como sensor de filamento
#   has usado esta definicion:
#   Nombre del sensor de filamento:
#   [filament_switch_sensor filament_sensor]
#   la consulta a efectuar sera la siguiente:
#   QUERY_FILAMENT_SENSOR SENSOR=filament_sensor
#   el sistema te devolvera una de dos respuestas:
#   Sin filamento:
#   // Filament Sensor filament_sensor: filament not detected
#   Con filamento:
#   // Filament Sensor filament_sensor: filament detected
#   Esto lo pdeis ejecutar directamente y vereis la respuesta, 
#   tened en cuenta el nombre del sensor de filamento
# 
#   Esta es la linea a añadir a vuestro start_print.cfg:
#     CHECK_FILAMENT  # Comprobacion de la presencia de filamento, antes de empezar a imprimir
# 
#   Esta macro se basa en las repuestas de la consulta, (query)
#   y ejecuta una macro en funcion de la presencia o ausencia del filamento
# 
#   Jose M. Escrich 20260116



[gcode_macro CHECK_FILAMENT]
gcode:
    QUERY_FILAMENT_SENSOR SENSOR=filament_sensor

    {% if printer["filament_switch_sensor filament_sensor"].filament_detected %}
        M117 Filamento presente, continua la impresion
        M118 Filamento presente, continua la impresion
        BEEP
        M400
    {% else %}
        M117 Filamento NO detectado, Carga filamento antes de empezar a imprimir
        M118 Filamento NO detectado, Carga filamento antes de empezar a imprimir
        _LED_ROJO
        BEEP
        M400
        BEEP
        M400
        BEEP
        M400
        PAUSE
    {% endif %}